.btn-example {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;

	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.btn-example:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.btn-example:active {
	position:relative;
	top:1px;
}


.icon-search {
  background-color:transparent;
  
}

li.inline{
	display:inline;
	text-color:#000000;
}

a.sitefoot{
font-size:normal;
font-weight:normal;
color:#000000;
}

a.sitefoot:hover,
a.sitefoot:focus
{
text-decoration:underline;
}

.well2
{
  border: 1px solid #e3e3e3;
}

div.row-fluid
{
   
}

img.pos_relative
{
   position:relative;
   top:5px;
   left:20px;
}

a.smaller
{
font-size:small;
}

.nav-pills
{
   text-aligned: center;
}

.nav-pills > li > a {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  line-height: 0px;
  padding-top:0px;
  padding-bottom:0px;
}

legend
{
	font-size: 30px;
}
legend > p
{
  font-size:15px;
}

div.inline
{
   display:inline-block;
}

p.absolute
{
   position:absolute;
   left:1250px;
}

p.right-align
{
text-align:right;
position:relative;
left:0px;
}

span.help-block > a
{
  font-weight: normal;
}
.btn-long
{
   padding: 0px 30px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}


fixed_width {
  height: 1000px;
  width: 1000px;
  max-height: 1000px;
  max-width: 1000px;
  min-height: 1000px;
  min-width: 1000px;
}

.well, .well-large
{
  padding:0px;
}
.bottomBorder
{
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#eeeeee;
}

.rightBorder
{
  border-Right-width:1px;
  border-Right-style:solid;
  border-Right-color:#eeeeee;
}

.topBorder
{
  border-Top-width:1px;
  border-Top-style:solid;
  border-Top-color:#eeeeee;
}


.padding{
  padding:20px
}
.paddingTop
{
  padding-top: 10px;
}
.paddingLeft
{
  padding-left: 20px;
}
.paddingRight
{
  padding-right: 20px;
}
.paddingBottom
{
  padding-bottom: 20px;
}
.nav-pills>li {
float: none;
}


.table th, .table td{
 text-align: center;
 vertical-align: middle;
}

td.comment {
 text-align: left;
}

textarea[readonly] {
  cursor: default;
}

input[disabled]
{
  cursor:default;
}

form div {
 clear: none;
}

.form-actions{
  border-top: 0px;
}

.checkbox {
margin: 5px 0;
}

table tr td {
min-width: 0;
}

.table td {
padding: 2px;
}

.pre-scrollable {
max-height: 600px;
overflow-y: scroll;
}


.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #ffffff;
}


.table tbody tr.success > td {
  background-color: #dff0d8;
  
}

.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}

form div {
margin-bottom: 0;
padding: 0;
vertical-align: text-top;
}
/*
a.create {background-image:url("/Ringi/app/webroot/img/create_mo.png"); 
  background-repeat: no-repeat; background-size:100%; background-position: 20 0;}
a.create:hover img {visibility:hidden;}
*/
.nav-tabs>li>a, .nav-pills>li>a {
padding: 10px 8px;
margin: 0px;
color: #ccc;
font-weight: lighter;
font-size: 18px;
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
color: #0C96A6;
}


.nav-tabs>li{
margin:3px;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
color: #0C96A6;
cursor: default;
background-color: #fff;
border: 1px solid #ddd;
border-bottom-color: transparent;
}


ul.nav.nav-tabs{
border-bottom: none;
margin: 0;
}

.application {
	-moz-box-shadow: 0px 0px 0px -49px #ffffff;
	-webkit-box-shadow: 0px 0px 0px -49px #ffffff;
	box-shadow: 0px 0px 0px -49px #ffffff;
	background-color:transparent;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.application:active {
	position:relative;
	top:1px;
}



.btn-trans, .btn-trans:hover, .btn-trans:focus, .btn-trans:active{
  background: transparent;
  border: none !important;
  box-shadow: none;
  color: #0C96A6;
}

.navbar .nav>li>a {
 padding: 0px 5px 10px;
}

.navbar .btn, .navbar .btn-group {
	margin-top:0;
}


.navbar-inverse .navbar-search .search-query {
	width:80%;
}

.navbar-inverse .navbar-inner {
  background-color: #323232;
}

#login{
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    position:absolute;
    border-left:0px;
    background-image:url('/Ringi/app/webroot/img/login_enspirea.jpg');
    background-size:100%; 
}